@font-face { 
    font-family: Nintendo-DS-BIOS; 
    src: url('/assets/font/Nintendo-DS-BIOS.ttf'); 
}

:root {
    --checker-size: 100px;
    --checker-a: #7050bb;
    --checker-b: #5a30bb;
}

body {
    font-family: Nintendo-DS-Bios;
    margin: 0;
    height: 100vh;
    font-size: 30px;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
    color: white;
}

.panel {
    display: block;
    width:fit-content;
    max-width: 900px;
    min-width:220px;
    background: rgba(0, 0, 0, 0.8);
    padding:20px 22px;
    border-radius:12px;
    box-shadow:0 8px 30px rgba(0,0,0,0.15);
    box-sizing:border-box;
    line-height:1.35;
    transition:all 220ms ease;
    border: 2px solid white;
}

.panel p {
    margin:0 0 12px 0; 
    word-wrap:break-word;
}

.center-panel {
    margin-left: auto;
    margin-right: auto;
}

#content {
    display:block;
    padding:40px;
    margin-bottom: 15px;
    pointer-events:auto;
}

#nav {
    display: flex;
    flex-direction: row;
    gap: 35px;
    text-align: center;
}

.homepage-link {
    color: white;
    font-size: 40px;
    transition:all 0.15s ease-out;
}

.homepage-link:hover {
    color: yellow;
}

.social-icon {
    color: white;
}

.subtitle {
    font-size: 50px;
}

.subdesc {
    font-size: 25px;
}

#bottom-text {
    position: fixed;
    padding: 1em;
    bottom: -10px;
    left: -10px;
    font-size: 30px;
}

@keyframes scrollBg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: var(--checker-size) var(--checker-size);
    }
}