.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

/* mobile stuff */
@media screen and (max-width: 768px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .project-container {
        grid-template-columns: 1fr;
    }
}

.project-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    height: 325px;
    border-radius: 20%;
    background-color:rgba(0, 0, 0, 0.75);
    transition: 
        border-radius 0.25s ease-out,
        width 0.25s ease-out,
        height 0.25s ease-out;
}

.project-box:hover {
    width: 375px;
    height: 375px;
}

.project-box:hover .project-image {
    border-radius: 0%;
    width: 300px;
    height: 300px;
}

#project-text {
    text-align: center;
    font-size: clamp(1.2rem, 2.5vw, 2.5rem);    
}

.project-image {
    width: 235px;
    height: 235px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    transition: width 0.25s ease-out, height 0.25s ease-out, border-radius 0.25s ease-out;
    pointer-events: none;    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}