@font-face { 
    font-family: Nintendo-DS-BIOS; 
    src: url('../../assets/font/Nintendo-DS-BIOS.ttf'); 
} 

body {
    background-color: black;
}

.midi {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.75);
}